
.slider {
      width: 97%;
      margin: 10px auto;
  }

  /* .slick-dots{
    display:none !important;
  } */
  .slick-slide {
    margin: 0px 10px;



  }
  .slick-track{float: left;}

  .slick-slide img {
    width: 100%;
    webkit-box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    -o-box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: transform .2s;
    opacity: .2;
    /* height: 251px !important; */
  }
  .slick-slide:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);

  }
  .slick-active {
    opacity:inherit;
  }

  .slick-current {
    opacity: 1;
  }
  .heading-inner{
    border-bottom:none;
    text-transform: none;
    font-size: 22px;
    margin: 0px;
    margin-left:10px;
  }

  .thum-main{margin-bottom: 30px;}
