
.modal-header {

    border-bottom: 0px !important;

}

.modal-title {

    text-align: center !important;
    font-size: 20px;
}


.modal-header {
    /* border-bottom-color: #EEEEEE; */
    /* background-color: #2b337d; */
    background-color:inherit !important;
    color: #fff;

}

.modal-content {
       background-color:inherit !important;
       border:0 !important;
    border: 0px !important;
    border-radius: 0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
    }
