<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MobikwikPG NodeJS Kit README</title>
</head>

<body>
<div style=" width:750px; margin:30px auto;">
<div style=" font:normal 14px/22px Arial, Helvetica, sans-serif; color:#32454A; text-align:left;">
<strong style="font:bold 16px/22px Arial, Helvetica, sans-serif;">Hello Dear User,</strong><br />

This is a ReadMe for the MobikwikPG NodeJS kit.<br />
MobikwikPG API is made up of 3 different APIs, which are described below.<br /><br />


<b>TRANSACT API :</b> This is the primary API used to perform a transaction.<br />
It makes use of the following files.<br />
<b><a href="/transact" style="color:#00D9FF; font:bold 15px/22px Arial, Helvetica, sans-serif;">test_merchant_input.ejs</a></b> : This is the Template file which takes input from user & posts data.<br />

<b>posttozaakpay.js</b> : This is the file which accepts input, sanitizes it & posts it to the TRANSACT API.<br />

<b>response.js</b> : The TRANSACT API completes the transaction & redirects user to this file.<br /><br />


<b>STATUS CHECK API :</b> Merchants can use this API to check the status of a prior transaction.<br />

It makes use of the following files.<br />

<b><a href="/checktxn" style="color:#00D9FF; font:bold 15px/22px Arial, Helvetica, sans-serif;">test_status_check_input.ejs</a></b> : This is the Template file which takes input from user & posts data.<br />

<b>poststatuschecktozaakpay.js</b> : This is the file which accepts input, sanitizes it & posts it to the STATUS CHECK API.<br />
<b>Note : </b> We provide a checksum in the response xml. Please use it to verify the validity of the response.<br /><br />


<b>STATUS UPDATE API :</b> Merchants can use this API to update the status of a prior transaction.<br />

It makes use of the following files.<br />

<b><a href="/updatetxn" style="color:#00D9FF; font:bold 15px/22px Arial, Helvetica, sans-serif;">test_mtx_update_input.ejs </a></b>: This is the Template file which takes input from user & posts data.<br />

<b>postmtxupdatetozaakpay.js</b> : This is the file which accepts input, sanitizes it & posts it to the STATUS UPDATE API.<br />
<b>Note : </b> We provide a checksum in the response xml. Please use it to verify the validity of the response.</div>
</div>
</body>
</html>
