<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
<title>Nihar eCenter</title>

<!-- CSS -->
<link type="text/css" href="../Public2/css/animate.css" rel="stylesheet"/>
<link type="text/css" href="../Public2/css/jquery.scrollbar.css" rel="stylesheet"/>
<link type="text/css" href="../Public2/css/jquery.bxslider.css" rel="stylesheet" media="screen">
<link type="text/css" href="../Public2/css/main.css" rel="stylesheet" media="all">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="../Public2/css/submenu.css">
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="../Public2/js/submenu.js"></script>


<link rel="stylesheet" href="../Public2/css/card.css">

<link rel="stylesheet" href="../Public2/css/submenu.css">

<!-- Open sans -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- Font Awsome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Font Awsome -->

<link type="text/css" href="../Public2/css/app.main.css" rel="stylesheet" media="screen">

</head>
<body class="loaded homepage">
  <nav class="navbar navbar-default" id="navbarmenu">
    <div class="wrap">
      <div id='cssmenu'>
        <ul class="navbar-right">
            <a href="#" data-toggle="modal" data-target="#myModal2">
              <li><img src="../Public2/images/login-user.png" class="img-responsive prof-icon-thumn" alt=""> Narayana Murthy</a>
                <ul>
                  <li><a href="#">Edit Profile</a></li>
                  <li> <a href="#">Wallet</a> </li>
                  <li> <a href="#">Help Center</a> </li>
                  <li><a href="#" style="border-bottom: 1px solid #f1f1f1;">sign out</a></li>
                </ul>
            </li>
            <a href="#"><li><img src="../Public2/images/wallet.png" class="img-responsive prof-icon-thumn-wal" alt=""> Rs. 1000</a> </li>
          </ul>
      </div>
    </div>

    <div class="">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="index.html">
        <div id="logo"> <img src="../Public2/images/logo.png" class="img-responsive"> </div>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="eServices.html">eServices</a></li>
          <li><a href="eCommerce.html">eCommerce</a></li>
          <li><a href="eMovies.html">eMovies</a></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="frame">
  <div class="container-fluid aboutus">
    <!-- <h1 class="heading-inner"> <span class="blue">Domestic Money</span> <span class="yellow">Transfer</span> </h1> -->
     <div class="row">
       <div class="col-sm-12">
         <div class="card">
            <div class="card-header" data-background-color="red">
                <h4 class="title">Within SBI - Accounts of Others</h4>
            </div>
            <div class="card-content">
              <form action="#" class="tab-wizard wizard-circle">
        				<!-- Step 1 -->
        				<!-- <h6>Personal Info</h6> -->
        				<section id="firstsection">
                  <div class="row">
                    <div class="col-md-12 blue">
                      Debit Account Details
                    </div>
                  </div>
        					<div class="row">
                    <div class="col-md-2">
        							Account Number
        						</div>
        						<div class="col-md-10">
        							00000023658984656
        						</div>
        					</div>
                  <div class="row">
                    <div class="col-md-2">
        							Account Type
        						</div>
        						<div class="col-md-10">
        							Saving Account
        						</div>
        					</div>
                  <div class="row">
                    <div class="col-md-2">
        							Branch
        						</div>
        						<div class="col-md-10">
        							West Marrepally
        						</div>
        					</div>
                  <div class="row">
                    <div class="col-md-2">
        							Amount
        						</div>
        						<div class="col-md-10">
        							INR 10,000.00
        						</div>
        					</div>
                  <div class="row">
                    <div class="col-md-2">
        							Purpose
        						</div>
        						<div class="col-md-10">
        							House Rent
        						</div>
        					</div>
        				</section>
                <a href="#">Click Here To Go Back</a>
        			</form>
          </div>
       </div>
     </div>
  </div>
</div>



<script src="../Public2/js/wow.min.js"></script>
<script src="../Public2/js/main.js"></script>
<script src="../Public2/js/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function(){
      $('.slider').bxSlider({
          auto:true,
          mode:'fade'
	  });
    });
  </script>

  <script src="../Public2/js/jquery.scrollbar.js"></script>
  <script>
      $(document).ready(function(){
          $('.right-a').scrollbar();
      })
  </script>



</body>
</html>
