<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zaakpay</title>
</head>
<body>

<center>
<form action="/checktxn" method="post">
<table width="600px;">
<tr>
  <td colspan="2" align="center" valign="middle">This Page is for Testing purpose and behaves like merchant input for status check api </td>  
</tr>
<tr>  
  <td width="50%" align="center" valign="middle">Merchant Identifier</td>
  <td width="50%" align="center" valign="middle"><input type="text" name="merchantIdentifier" value="Your merchantid goes here" /> </td>
</tr>
<tr>  
  <td width="50%" align="center" valign="middle">Order Id</td>
  <td width="50%" align="center" valign="middle"><input type="text" name="orderId" value="555" /> </td>
</tr>

<tr>  
  <td width="50%" align="center" valign="middle">Mode</td>
  <td width="50%" align="center" valign="middle"><input type="text" name="mode" value="0" /></td>
</tr>


<tr>
  <td colspan="2" width="100%" align="center" valign="middle"><input type="submit" value="Check Status" /></td>
</tr>


</table>

</form>
</center>

    
    
</body>
</html>
