<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
<title>Nihar eCenter</title>
<link type="text/css" href="Public2/css/main.css" rel="stylesheet" media="all">
<script src="Public2/js/submenu.js"></script>
<link rel="stylesheet" href="Public2/css/submenu.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<link rel="stylesheet" href="Public2/css/card.css">
<link type="text/css" href="Public2/css/app.main.css" rel="stylesheet" media="screen">
<link type="text/css" href="Public2/css/side-bar.css" rel="stylesheet" media="screen">
<script src="Public2/js/include.js"></script>
<script>

function autoPop(){
  document.getElementById("orderId").value= "NIHAR" + String(new Date().getTime());  //  Autopopulating orderId
  var today = new Date();
  var dateString = String(today.getFullYear()).concat("-").concat(String(today.getMonth()+1)).concat("-").concat(String(today.getDate()));
  document.getElementById("txnDate").value= dateString;
};

function submitForm(){
  var form = document.forms[0];
  form.action = "/transact";
  form.submit();
}
</script>
<style type="text/css">
.center{ width:800px; margin:0 auto;}
.ecssing{width:790px;float:left;padding:15px 0 30px 10px;margin:10px 0 30px 0;background-color:#e9f0f2;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fbfc', endColorstr='#e9f0f2'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#f7fbfc), to(#e9f0f2)); /* for webkit browsers */background: -moz-linear-gradient(top, #f7fbfc, #e9f0f2); /* for firefox 3.6+ */  -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.ecssing h2 {padding:0px;margin:0px 0 10px 0;font:bold 30px Calibri, Arial, Helvetica, sans-serif;text-align:Center;color:#000000;}
.ecssing p {padding:0px;margin:0px 0 20px 0;font:bold 14px  Arial, Helvetica, sans-serif;text-align:Center; color:#000000;}
label {padding:15px 0px 5px 0; margin:0px;width:225px; float:left;font:normal 14px Arial, Helvetica, sans-serif !important;text-align:left;color:#000000;}
input {border:1px solid #848484; border-top:2px solid #848484;  background-color:#FFFFFF;padding:2px 2px; margin:0px 0 3px 0;width:200px;color:#000000;font:normal 12px Arial, Helvetica, sans-serif;text-align:left; height:18px;}
 select {border:1px solid #848484; border-top:2px solid #848484;  background-color:#FFFFFF;padding:2px 1px 2px 2px; margin:0px 0 3px 0;width:204px;color:#000000;font:normal 12px Arial, Helvetica, sans-serif;text-align:left; }
 .boxes {width:auto;margin:0;padding:5px 15px;text-align:center;  -webkit-border-radius: 7px;-moz-border-radius: 7px;-o-border-radius: 7px;-border-radius: 7px;text-decoration:none !important;font:bold 20px/22px Arial, Helvetica, sans-serif;color:#ffffff !important;background-color:#558a04; /* for non-css3 browsers */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83d801', endColorstr='#558a04'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#83d801), to(#558a04)); /* for webkit browsers */background: -moz-linear-gradient(top, #83d801, #558a04); /* for firefox 3.6+ */
  behavior: url(border-radius.htc);}
.boxes a {font:bold 20px/22px Arial, Helvetica, sans-serif; text-align:center;color:#ffffff !important; text-decoration:none !important;}
.boxes a:hover {text-decoration:none !important;}
</style>
<style media="screen">
.buying-selling.active {
  background: #f1f1f1;
}
.buying-selling {
  width: 30%;
  padding: 10px;
  position: relative;
  margin: 10px 20px 10px 0;
}
.buying-selling-word {
  font-size: 15px;
  font-weight: 600;
  margin-left: 22px;
}
.radio-dot:before, .radio-dot:after {
  content: "";
  display: block;
  position: absolute;
  background: #fff;
  border-radius: 100%;
}
.radio-dot:before {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  top: 10px;
  left: 16px;
}
.radio-dot:after {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 14px;
  left: 20px;
}
.buying-selling.active .buying-selling-word {
  color: #fff;
}

. e .radio-dot:after {
  background: #48c1ec;
}

.buying-selling.active .radio-dot:before {
  background: #fff;
  border-color: #699D17;
}

.buying-selling:hover .radio-dot:before {
  border-color: #adadad;
}

.buying-selling.active:hover .radio-dot:before {
  border-color: #699D17;
}


.buying-selling.active .radio-dot:after {
  background: #48c1ec;
}

.buying-selling:hover .radio-dot:after {
  background: #e6e6e6;
}

.buying-selling.active:hover .radio-dot:after {
  background: #48c1ec;

}

@media (max-width: 400px) {
  .mobile-br {
      display: none;
  }
  .buying-selling {
      width: 49%;
      padding: 10px;
      position: relative;
  }
}
</style>
</head>
<body class="loaded homepage" onload="autoPop();">
  <nav class="navbar navbar-default" id="navbarmenu">
    <div w3-include-html="Public2/header.html"></div>
      <script>
      w3.includeHTML();
      </script>
  </nav>
<div class="frame">
  <div class="container-fluid aboutus">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-3"></div>
       <div class="col-sm-12 col-md-8 col-lg-6 col-xs-9 bhoechie-tab-container">
           <h2 style="text-transform:none;">Add Money To Wallet</h2>
           <div class="row">
             <div class="col-md-12">
               <div class="form-group">
                 <div class="buying-selling-group" id="buying-selling-group" data-toggle="buttons">
                  <label class="btn btn-default buying-selling active">
                    <input type="radio" name="paymentradio" id="paymentradio" checked="checked" value="MobiKwik">
                    <span class="radio-dot"></span>
                    <span class="buying-selling-word"> <img src="Public2/images/mobiquick.png" alt=""> </span>
                  </label>
                  <label class="btn btn-default buying-selling">
                    <input type="radio" name="paymentradio" id="paymentradio" autocomplete="off" value="PayUBaz">
                    <span class="radio-dot"></span>
                    <span class="buying-selling-word"> <img src="Public2/images/payubiz.png" alt=""> </span>
                  </label>
                </div>
               </div>
             </div>
           </div>
            <div class="" id="mobikwik_form">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Enter Amount</label>
                  <input type="text" class="form-control" name="amountinpaisa" id="amountinpaisa" placeholder="Enter Amount" />
                 </div>
                </div>

                  <form action="/transact" method="post" id="mobikwik_form">
                    <input type="hidden" class="form-control" name="amount" id="amount" placeholder="Enter Amount" />
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="">SELECT BANK</label>
                        <select class="form-control" id="bankid" name="bankid" data-size="5">
                          <option value="">Select</option>
                          <option value="HDF">HDFC Bank</option>
                           <option value="ALB">Allahabad Bank</option>
                           <option value="ADB">Andhra Bank</option>
                           <option value="BBK">Bank of Bahrain and Kuwait</option>
                           <option value="BBC">Bank of Baroda - Corporate Banking</option>
                           <option value="BBR">Bank of Baroda - Retail Banking</option>
                           <option value="BOI">Bank of India</option>
                           <option value="BOM">Bank of Maharashtra</option>
                           <option value="CNB">Canara Bank</option>
                           <option value="CSB">Catholic Syrian Bank</option>
                           <option value="CBI">Central Bank of India</option>
                           <option value="CUB">City Union Bank</option>
                           <option value="CRP">Corporation Bank</option>
                           <option value="DEN">Dena Bank</option>
                           <option value="DBK">Deutsche Bank</option>
                           <option value="DCB">Development Credit Bank</option>
                           <option value="DLB">Dhanlakshmi Bank</option>
                           <option value="FBK">Federal Bank</option>
                           <option value="IDB">IDBI Bank</option>
                           <option value="INB">Indian Bank</option>
                           <option value="IOB">Indian Overseas Bank</option>
                           <option value="IDS">IndusInd Bank</option>
                           <option value="ING">ING Vysya Bank</option>
                           <option value="JKB">Jammu and Kashmir Bank</option>
                           <option value="KBL">Karnataka Bank Ltd</option>
                           <option value="KVB">Karur Vysya Bank</option>
                           <option value="162">Kotak Bank</option>
                           <option value="LVC">Laxmi Vilas Bank - Corporate Net Banking</option>
                           <option value="LVR">Laxmi Vilas Bank - Retail Net Banking</option>
                           <option value="OBC">Oriental Bank of Commerce</option>
                           <option value="PSB">Punjab and Sind Bank</option>
                           <option value="CPN">Punjab National Bank - Corporate Banking</option>
                           <option value="PNB">Punjab National Bank - Retail Banking</option>
                           <option value="RBL">Ratnakar Bank</option>
                           <option value="SVC">Shamrao Vitthal Co-operative Bank</option>
                           <option value="SIB">South Indian Bank</option>
                           <option value="SBJ">State Bank of Bikaner and Jaipur</option>
                           <option value="SBH">State Bank of Hyderabad</option>
                           <option value="SBM">State Bank of Mysore</option>
                           <option value="SBP">State Bank of Patiala</option>
                           <option value="SBT">State Bank of Travancore</option>
                           <option value="SYD">Syndicate Bank</option>
                           <option value="TMB">Tamilnad Mercantile Bank Ltd.</option>
                           <option value="UCO">UCO Bank</option>
                           <option value="UBI">Union Bank of India</option>
                           <option value="VJB">Vijaya Bank</option>
                           <option value="YBK">Yes Bank Ltd</option>
                           <option value="SBI">State Bank of India</option>
                           <option value="ICICI">ICICI Bank</option>
                           <option value="AXIS">Axis Bank</option>
                           <option value="UNIZP">United Bank of India</option>
                           <option value="MW">Mobikwik Wallet</option>
                           <option value="EZE">Amex Eze Click</option>
                           <option value="IDEBIT">ICICI ATM+Pin</option>
                           <option value="HDFZP">HDFC Bank</option>
                           <option value="MSPASS">Masterpass</option>
                           <option value="icashw">ICASH CARD</option>
                           <option value="PAYUWL">PayU Wallet</option>
                           <option value="OXYW">Oxigen Wallet</option>
                           <option value="payzpw">Hdfc Payzapp Wallet</option>
                           <option value="IDN">IDFC Bank</option>
                          </select>
                      </div>
                      <input type="hidden" class="form-control" name="buyerEmail" id="buyerEmail" value=""/>
                      <input type="hidden" class="form-control" name="buyerFirstName" id="buyerFirstName" value=""/>
                      <input type="hidden" class="form-control" name="buyerLastName" id="buyerLastName" value="KN" />
                      <input type="hidden" class="form-control" name="buyerPhoneNumber" id="buyerPhoneNumber" value=""/>
                      <input type="hidden" name="currency" id="currency" value="INR" />
                      <input type="hidden" name="merchantIdentifier" id="merchantIdentifier" value="6f87f25350bd4bd39405ff4857f662d2" />
                      <input type="hidden" class="form-control" name="orderId" id="orderId" value="NN45678" />
                      <input type="hidden" class="form-control" name="product1Description" id="product1Description" value="" />
                      <input type="hidden" class="form-control" name="product2Description" id="product2Description" value="" />
                      <!-- <input type="hidden" name="returnUrl" id="returnUrl" value="http://localhost:8081/response"  /> -->
                      <input type="hidden" name="returnUrl" id="returnUrl" value="https://www.niharecenter.com/response"  />
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div style="cursor:pointer;">
                          <a class="boxes btn btn-blue" onclick="javascript:submitForm()">Add Money To Wallet
                          </a>
                        </div>
                      </div>
                    </div>
                  </form>

              </div>

              <div class="" id="payubaz_form" style="display:none">

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Enter Amount</label>
                    <input type="text" class="form-control" name="" id="payuamount" placeholder="Enter Amount" />
                    <input type="hidden" class="form-control" name="buyerEmail" id="AgentEmail" value=""/>
                    <input type="hidden" class="form-control" name="buyerFirstName" id="AgentName" value=""/>
                    <input type="hidden" class="form-control" name="buyerPhoneNumber" id="AgentMobile" value=""/>
                    <input type="hidden" class="form-control" name="product1Description" id="AgentIdProdesc" value="" />
                   </div>
                  </div>
                    <form id="payubaz_formval">
                      <input type="hidden" class="form-control" name="key" id="key" />
                      <input type="hidden" class="form-control" name="txnid" id="txnid" />
                      <div class="col-md-12">
                        <div class="form-group">
                          <label for="">SELECT BANK</label>
                          <select class="form-control" id="bankid" name="bankid" data-size="5">
                            <option value="">Select</option>
                            <option value="HDF">HDFC Bank</option>
                             <option value="ALB">Allahabad Bank</option>
                             <option value="ADB">Andhra Bank</option>
                             <option value="BBK">Bank of Bahrain and Kuwait</option>
                             <option value="BBC">Bank of Baroda - Corporate Banking</option>
                             <option value="BBR">Bank of Baroda - Retail Banking</option>
                             <option value="BOI">Bank of India</option>
                             <option value="BOM">Bank of Maharashtra</option>
                             <option value="CNB">Canara Bank</option>
                             <option value="CSB">Catholic Syrian Bank</option>
                             <option value="CBI">Central Bank of India</option>
                             <option value="CUB">City Union Bank</option>
                             <option value="CRP">Corporation Bank</option>
                             <option value="DEN">Dena Bank</option>
                             <option value="DBK">Deutsche Bank</option>
                             <option value="DCB">Development Credit Bank</option>
                             <option value="DLB">Dhanlakshmi Bank</option>
                             <option value="FBK">Federal Bank</option>
                             <option value="IDB">IDBI Bank</option>
                             <option value="INB">Indian Bank</option>
                             <option value="IOB">Indian Overseas Bank</option>
                             <option value="IDS">IndusInd Bank</option>
                             <option value="ING">ING Vysya Bank</option>
                             <option value="JKB">Jammu and Kashmir Bank</option>
                             <option value="KBL">Karnataka Bank Ltd</option>
                             <option value="KVB">Karur Vysya Bank</option>
                             <option value="162">Kotak Bank</option>
                             <option value="LVC">Laxmi Vilas Bank - Corporate Net Banking</option>
                             <option value="LVR">Laxmi Vilas Bank - Retail Net Banking</option>
                             <option value="OBC">Oriental Bank of Commerce</option>
                             <option value="PSB">Punjab and Sind Bank</option>
                             <option value="CPN">Punjab National Bank - Corporate Banking</option>
                             <option value="PNB">Punjab National Bank - Retail Banking</option>
                             <option value="RBL">Ratnakar Bank</option>
                             <option value="SVC">Shamrao Vitthal Co-operative Bank</option>
                             <option value="SIB">South Indian Bank</option>
                             <option value="SBJ">State Bank of Bikaner and Jaipur</option>
                             <option value="SBH">State Bank of Hyderabad</option>
                             <option value="SBM">State Bank of Mysore</option>
                             <option value="SBP">State Bank of Patiala</option>
                             <option value="SBT">State Bank of Travancore</option>
                             <option value="SYD">Syndicate Bank</option>
                             <option value="TMB">Tamilnad Mercantile Bank Ltd.</option>
                             <option value="UCO">UCO Bank</option>
                             <option value="UBI">Union Bank of India</option>
                             <option value="VJB">Vijaya Bank</option>
                             <option value="YBK">Yes Bank Ltd</option>
                             <option value="SBI">State Bank of India</option>
                             <option value="ICICI">ICICI Bank</option>
                             <option value="AXIS">Axis Bank</option>
                             <option value="UNIZP">United Bank of India</option>
                             <option value="MW">Mobikwik Wallet</option>
                             <option value="EZE">Amex Eze Click</option>
                             <option value="IDEBIT">ICICI ATM+Pin</option>
                             <option value="HDFZP">HDFC Bank</option>
                             <option value="MSPASS">Masterpass</option>
                             <option value="icashw">ICASH CARD</option>
                             <option value="PAYUWL">PayU Wallet</option>
                             <option value="OXYW">Oxigen Wallet</option>
                             <option value="payzpw">Hdfc Payzapp Wallet</option>
                             <option value="IDN">IDFC Bank</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <div style="cursor:pointer;">
                            <a class="boxes btn btn-blue" id="payubucsub_btn">Add Money To Wallet
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>

                    <!-- <form id="payubaz_formfinal" action="https://test.payu.in/_payment" method="post"> -->
                    <form id="payubaz_formfinal" action="https://secure.payu.in/_payment" method="post">
                      <input type="hidden" class="form-control" name="key" id="key1" />
                      <input type="hidden" class="form-control" name="hash" id="hash1" />
                      <input type="hidden" class="form-control" name="txnid" id="txnid1" />
                      <input type="hidden" class="form-control" name="surl" id="surl1" />
                      <input type="hidden" class="form-control" name="furl" id="furl1" />
                      <input type="hidden" class="form-control" name="amount" id="amount1" />
                      <input type="hidden" class="form-control" name="firstname" id="firstname1" />
                      <input type="hidden" class="form-control" name="email" id="email1" />
                      <input type="hidden" class="form-control" name="phone" id="phone1" />
                      <input type="hidden" class="form-control" name="productinfo" id="productinfo1" />

                      <div class="col-md-12">
                        <div class="form-group">
                          <div style="cursor:pointer;">
                            <a class="boxes btn btn-blue" id="payubuc" style="display:none">Add Money To Wallet
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>



       </div>
       <div class="col-sm-12 col-md-2 col-lg-3"></div>
    </div>
  </div>
</div>

<script src="Public2/js/main.js"></script>
<script type="text/javascript" src="Public2/js/notify.min.js"></script>
<script type="text/javascript" src="Public2/js/header.js"></script>
<script type="text/javascript" src="Public2/js/moment.js"></script>
<script type="text/javascript">

$(document).ready(function() {
  $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
      e.preventDefault();
      $(this).siblings('a.active').removeClass("active");
      $(this).addClass("active");
      var index = $(this).index();
      $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
      $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
  });
  getagentdetails();
  getwalletmoney();
});

$("#amountinpaisa").change(function(){
  var amount = $("#amountinpaisa").val();
  var rs = amount*100;
  $("#amount").val(rs);
  $("#product2Description").val(amount);
})

$('input[type=radio][name=paymentradio]').change(function() {
  if(this.value == "MobiKwik"){
    $("#mobikwik_form").show();
    $("#payubaz_form").hide();
  }else{
    //window.location='http://localhost/PayYou/payuform.php';
     $("#mobikwik_form").hide();
     $("#payubaz_form").show();
  }
  return false;
});
//MobiKwik
//PayUBaz

$("#payubucsub_btn").click(function(){
  var data={};
  data.amount = $("#payuamount").val();
  data.name = $("#AgentName").val();
  data.mobile = $("#AgentMobile").val();
  data.agentid = $("#AgentIdProdesc").val();
  data.email = $("#AgentEmail").val();
  $.ajax({
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: '/PayuBizWallet',
      async:false,
      crossDomain:true,
      success: function(res1) {
        //console.log(res1.surl);
        $("#key1").val(res1.key);
        $("#hash1").val(res1.hash);
        $("#txnid1").val(res1.txnid);
        $("#surl1").val(res1.surl);
        $("#furl1").val(res1.furl);
        $("#amount1").val(res1.amount);
        $("#firstname1").val(res1.firstname);
        $("#email1").val(res1.email);
        $("#phone1").val(res1.phone);
        $("#productinfo1").val(res1.productinfo);
        $("#payubaz_formfinal").submit();
        // window.location='https://test.payu.in';
        // $.ajax({
        //     type: 'POST',
        //     data: "key="+ res1.key + "&hash=" + res1.hash + "&txnid=" + res1.txnid + "&surl=" + res1.surl + "&furl=" + res1.furl + "&amount=" + res1.amount + "&firstname=" + res1.firstname + "&email=" + res1.email + "&phone=" + res1.phone + "&productinfo=" + res1.productinfo,
        //     contentType: 'application/json',
        //     action: 'https://test.payu.in',
        //     async:false,
        //     crossDomain:true,
        //     success: function(res2) {
        //
        //     }
        //   })
      }
    })
})
</script>




</body>
</html>
