<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="image float-left">
          <img src="Public/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
        </div>
        <div class="info float-left">
          <p><span id="agentname"></span></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

        <li class="active">
          <a href="/Dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li class="treeview">
         <a href="">
            <i class="fa fa-file"></i>
            <span>eCenter</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Topups">Recharges Report</a></li>
            <li><a href="/Electricity_bills">Electricity Report</a></li>
            <li><a href="/Bus">Bus Services Report</a></li>
            <li><a href="/Cancellations">Bus Cancellation Report</a></li>
            <li><a href="/DMT">Direct Money Transfers Report</a></li>
            <li><a href="/OnlineRTI">Online RTI Report</a></li>
            <li><a href="/Pancard">PAN Card Report</a></li>
            <li><a href="/HotelBookings">Hotel Booking Report</a></li>
              <li><a href="/HotelCancellation">Hotel Cancellation Report</a></li>
            <li><a href="/FlightBookings">Flight Booking Report</a></li>
              <li><a href="/FlightCancellation">Flight Cancellation Report</a></li>
          </ul>
        </li>
<!-- FlightBookings -->

          <li class="treeview">
            <a href="">
            <i class="fa fa-shopping-cart"></i>
            <span>eCommerce</span>
            <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="/Invoices_reports">Itdukaan</a></li>
              <li><a href="/BanyanStore_Invoices_bp">BanyanStore</a></li>
              <li><a href="/GoldenSilver_Invoices_bp">GoldenSilver</a></li>
            </ul>
          </li>
        <!-- <li class="treeview">
           <a href="">
           <i class="fa fa-shopping-cart"></i>
           <span>eCommerce</span>
           <span class="pull-right-container">
           <i class="fa fa-angle-left pull-right"></i>
           </span>
           </a>
           <ul class="treeview-menu">
              <li class="treeview">
                 <a href="">Gold N Silver
                 <span class="pull-right-container">
                 <i class="fa fa-angle-left pull-right"></i>
                 </span>
                 </a>
                 <ul class="treeview-menu">
                    <li><a href="#">Transactions Report</a></li>
                 </ul>
              </li>
           </ul>
        </li> -->
        <li class="treeview">
         <a href="">
            <i class="fa fa-file-video-o"></i>
            <span>eMovies</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/AgentEmoviesReports">Transactions Reports</a></li>
          </ul>
        </li>
<!-- //AgentEmoviesReports -->
        <li class="treeview">
         <a href="">
            <i class="fa fa-user"></i>
            <span>Customer Care</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/Alltransactions">All Transactions</a></li>
            <li><a href="/RaisedComplaints">Tokens</a></li>
            <li><a href="/BpCustomers">Customer Address</a></li>
            <li><a href="/eWalletTopup">eWallet Top-Up</a></li>
          </ul>
        </li>
        <li class="treeview">
         <a href="">
            <i class="fa fa-file"></i>
            <span>Passbook</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/BpEarnigs">Earnings</a></li>
            <li><a href="/MyWalletUpdates">Wallet Updates</a></li>
          </ul>
        </li>



      </ul>
    </section>
  </aside>
