<div class="footer2" style="font-size:12px!important;">
<a target="_blank" href="/aboutus">About Us</a> | <a target="_blank" href="/eCenterModelOverview">eCenter Model Overview</a> | <a target="_blank" href="/boardofdirectors">Board of Directors</a> | <a target="_blank" href="/media">Media</a> | <a target="_blank" href="/CustomerServices">Customer Services</a> | <a target="_blank" href="/PartnerWithUs">Partner With Us</a> | <a target="_blank" href="/Public2/pdf/ReurnPolicy.pdf">Product Return Policy</a> | <a target="_blank" href="/PrivacyPolicy">Privacy Policy</a> | <a target="_blank" href="/TermsAndConditions">Terms and Conditions</a> | <a target="_blank" href="/rechargepartners">Recharge Partners</a> | <a target="_blank" href="/Brands">Brands</a> | <a target="_blank" href="/contactus">Contact Us</a>

<div style="text-align: center;">
Copyright © 2019 <a href="http://www.niharinfo.com/" target="_blank">Nihar Info Global Ltd</a>. All Rights Reserved.
</div>



</div>

<!--
<script src="Public2/js/include.js"></script>

<div w3-include-html="Public2/footer.html"></div>
  <script>
  w3.includeHTML();
  </script> -->
