
<nav class="navbar navbar-default" id="navbarmenu">
  <div class="wrap">
    <div id='cssmenu' class="cssmenulogin">
      <ul class="navbar-right" >
        <a href="#" data-toggle="modal">
          <li><img src="Public2/images/login-user.png" class="img-responsive prof-icon-thumn" alt=""><span id="agentname"></span></a>
            <ul>
              <li> <a href="/transact">Wallet</a> </li>
              <li> <a href="/CustomerServices">Help Center</a> </li>
              <li><a href="/" style="border-bottom: 1px solid #f1f1f1;">Sign Out</a></li>
            </ul>
          </li>
        <a href="/transact" style="line-height:2;text-transform:none;">
          <li>Wallet</br><span id="walletmoney"></span></a>
        </li>
        <a style="line-height:2;text-transform:none;">
          <li>Today's Earnings</br><span id="commission_today"></span></a>
        </li>
        <a style="line-height:2;text-transform:none;">
          <li>MTD Earnings</br><span id="commission_month"></span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/home">
        <div id="logo"> <img src="Public2/images/logo.png" class="img-responsive"> </div>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li id="" class="active"><a href="/home">All</a></li>
        <li id=""><a href="/e_Commerce">eCommerce</a></li>
        <li id="emovies_tab"><a href="/eMovies">eMovies</a></li>
        <li id="esevices_tab"><a href="/e_Services">eServices</a></li>
      </ul>
    </div>
  </div>
</nav>
