<h1>Transaction has been tampered. Please try again </h1>



















<script>
var req = new XMLHttpRequest();
console.log(req);
req.open('GET', document.location, false);
req.send(null);
var headers = req.getAllResponseHeaders().toLowerCase();
alert(headers);
</script>
