<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Zaakpay's dummy merchant site</title>
</head>
<script>

function autoPop(){
  document.getElementById("orderId").value= "ZPLive" + String(new Date().getTime());  //  Autopopulating orderId
  var today = new Date();
  var dateString = String(today.getFullYear()).concat("-").concat(String(today.getMonth()+1)).concat("-").concat(String(today.getDate()));
  document.getElementById("txnDate").value= dateString;
};

function submitForm(){
      var form = document.forms[0];
      form.action = "/transact";
      form.submit();
      }
</script>
<style type="text/css">
.center{ width:800px; margin:0 auto;}
.ecssing{width:790px;float:left;padding:15px 0 30px 10px;margin:10px 0 30px 0;background-color:#e9f0f2;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fbfc', endColorstr='#e9f0f2'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#f7fbfc), to(#e9f0f2)); /* for webkit browsers */background: -moz-linear-gradient(top, #f7fbfc, #e9f0f2); /* for firefox 3.6+ */  -webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.ecssing h2 {padding:0px;margin:0px 0 10px 0;font:bold 30px Calibri, Arial, Helvetica, sans-serif;text-align:Center;color:#000000;}
.ecssing p {padding:0px;margin:0px 0 20px 0;font:bold 14px  Arial, Helvetica, sans-serif;text-align:Center; color:#000000;}
label {padding:15px 0px 5px 0; margin:0px;width:225px; float:left;font:normal 14px Arial, Helvetica, sans-serif !important;text-align:left;color:#000000;}
input {border:1px solid #848484; border-top:2px solid #848484;  background-color:#FFFFFF;padding:2px 2px; margin:0px 0 3px 0;width:200px;color:#000000;font:normal 12px Arial, Helvetica, sans-serif;text-align:left; height:18px;}
 select {border:1px solid #848484; border-top:2px solid #848484;  background-color:#FFFFFF;padding:2px 1px 2px 2px; margin:0px 0 3px 0;width:204px;color:#000000;font:normal 12px Arial, Helvetica, sans-serif;text-align:left; }
 .boxes {width:auto;margin:0;padding:5px 15px;text-align:center;  -webkit-border-radius: 7px;-moz-border-radius: 7px;-o-border-radius: 7px;-border-radius: 7px;text-decoration:none !important;font:bold 20px/22px Arial, Helvetica, sans-serif;color:#ffffff !important;background-color:#558a04; /* for non-css3 browsers */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83d801', endColorstr='#558a04'); /* for IE */background: -webkit-gradient(linear, left top, left bottom, from(#83d801), to(#558a04)); /* for webkit browsers */background: -moz-linear-gradient(top, #83d801, #558a04); /* for firefox 3.6+ */
  behavior: url(border-radius.htc);}
.boxes a {font:bold 20px/22px Arial, Helvetica, sans-serif; text-align:center;color:#ffffff !important; text-decoration:none !important;}
.boxes a:hover {text-decoration:none !important;}
</style>

<body onload="autoPop();">

<div class="center">
<div class="ecssing">
<form action="/transact" method="post">
<h2>Pay Now to see how Zaakpay will work on your website.</h2>
<p>Note: This page behaves like a shopping cart or checkout page on a website.</p>
<table width="650px;">
  <div>
                     <input type="text" class="form-control" name="amount" id="amount" placeholder="Enter Amount" />
                   </div>
                   <!-- <div class="form-group">
                      <label class="btn btn-default buying-selling">
                        <input type="radio" name="options" id="option1" autocomplete="off">
                        <span class="radio-dot"></span>
                        <span class="buying-selling-word">
                          <img src="Public2/images/andhra-bank.png" alt="">
                        </span>
                      </label>
                      <label class="btn btn-default buying-selling">
                          <input type="radio" name="options" id="option2" autocomplete="off">
                          <span class="radio-dot"></span>
                          <span class="buying-selling-word"> <img src="Public2/images/axis.png" alt=""> </span>
                      </label>

                      <label class="btn btn-default buying-selling">
                          <input type="radio" name="options" id="option3" autocomplete="off">
                          <span class="radio-dot"></span>
                          <span class="buying-selling-word"> <img src="Public2/images/hdfc.png" alt=""> </span>
                      </label>
                      <label class="btn btn-default buying-selling">
                          <input type="radio" name="options" id="option4" autocomplete="off">
                          <span class="radio-dot"></span>
                          <span class="buying-selling-word"> <img src="Public2/images/icici.png" alt=""> </span>
                      </label>
                      <label class="btn btn-default buying-selling">
                          <input type="radio" name="options" id="option5" autocomplete="off">
                          <span class="radio-dot"></span>
                          <span class="buying-selling-word"> <img src="Public2/images/kotak.png" alt=""> </span>
                      </label>
                      <label class="btn btn-default buying-selling">
                          <input type="radio" name="options" id="option6" autocomplete="off">
                          <span class="radio-dot"></span>
                          <span class="buying-selling-word"> <img src="Public2/images/pnb.png" alt=""> </span>
                      </label>
                   </div> -->
                   <div class="form-group">
                     <label for="">SELECT BANK</label>
                     <select class="form-control" id="bankid" name="bankid" data-size="5">
            						<option value="">Select</option>
            						<option value="HDF" data-bankid="8565560">HDFC Bank</option>
                        <option value="ALB" data-bankid="8565560">Allahabad Bank</option>
                        <option value="ADB" data-bankid="8565560">Andhra Bank</option>
                        <option value="BBK" data-bankid="8565560">Bank of Bahrain and Kuwait</option>
                        <option value="BBC" data-bankid="8565560">Bank of Baroda - Corporate Banking</option>
                        <option value="BBR" data-bankid="8565560">Bank of Baroda - Retail Banking</option>
                        <option value="BOI" data-bankid="8565560">Bank of India</option>
                        <option value="BOM" data-bankid="8565560">Bank of Maharashtra</option>
                        <option value="CNB" data-bankid="8565560">Canara Bank</option>
                        <option value="CSB" data-bankid="8565560">Catholic Syrian Bank</option>
                        <option value="CBI" data-bankid="8565560">Central Bank of India</option>
                        <option value="CUB" data-bankid="8565560">City Union Bank</option>
                        <option value="CRP" data-bankid="8565560">Corporation Bank</option>
                        <option value="DEN" data-bankid="8565560">Dena Bank</option>
                        <option value="DBK" data-bankid="8565560">Deutsche Bank</option>
                        <option value="DCB">Development Credit Bank</option>
                        <option value="DLB">Dhanlakshmi Bank</option>
                        <option value="FBK">Federal Bank</option>
                        <option value="IDB">IDBI Bank</option>
                        <option value="INB">Indian Bank</option>
                        <option value="IOB">Indian Overseas Bank</option>
                        <option value="IDS">IndusInd Bank</option>
                        <option value="ING">ING Vysya Bank</option>
                        <option value="JKB">Jammu and Kashmir Bank</option>
                        <option value="KBL">Karnataka Bank Ltd</option>
                        <option value="KVB">Karur Vysya Bank</option>
                        <option value="162">Kotak Bank</option>
                        <option value="LVC">Laxmi Vilas Bank - Corporate Net Banking</option>
                        <option value="LVR">Laxmi Vilas Bank - Retail Net Banking</option>
                        <option value="OBC">Oriental Bank of Commerce</option>
                        <option value="PSB">Punjab and Sind Bank</option>
                        <option value="CPN">Punjab National Bank - Corporate Banking</option>
                        <option value="PNB">Punjab National Bank - Retail Banking</option>
                        <option value="RBL">Ratnakar Bank</option>
                        <option value="SVC">Shamrao Vitthal Co-operative Bank</option>
                        <option value="SIB">South Indian Bank</option>
                        <option value="SBJ">State Bank of Bikaner and Jaipur</option>
                        <option value="SBH">State Bank of Hyderabad</option>
                        <option value="SBM">State Bank of Mysore</option>
                        <option value="SBP">State Bank of Patiala</option>
                        <option value="SBT">State Bank of Travancore</option>
                        <option value="SYD">Syndicate Bank</option>
                        <option value="TMB">Tamilnad Mercantile Bank Ltd.</option>
                        <option value="UCO">UCO Bank</option>
                        <option value="UBI">Union Bank of India</option>
                        <option value="VJB">Vijaya Bank</option>
                        <option value="YBK">Yes Bank Ltd</option>
                        <option value="SBI">State Bank of India</option>
                        <option value="ICICI">ICICI Bank</option>
                        <option value="AXIS">Axis Bank</option>
                        <option value="UNIZP">United Bank of India</option>
                        <option value="MW">Mobikwik Wallet</option>
                        <option value="EZE">Amex Eze Click</option>
                        <option value="IDEBIT">ICICI ATM+Pin</option>
                        <option value="HDFZP">HDFC Bank</option>
                        <option value="MSPASS">Masterpass</option>
                        <option value="icashw">ICASH CARD</option>
                        <option value="PAYUWL">PayU Wallet</option>
                        <option value="OXYW">Oxigen Wallet</option>
                        <option value="payzpw">Hdfc Payzapp Wallet</option>
                        <option value="IDN">IDFC Bank</option>
            						</select>
                   </div>
                    <input type="hidden" class="form-control" name="buyerEmail" id="buyerEmail" value="narayanamurthykk@gmail.com"/>
                    <input type="hidden" class="form-control" name="buyerFirstName" id="buyerFirstName" value="Nani"/>
                    <input type="hidden" class="form-control" name="buyerLastName" id="buyerLastName" value="Kn" />
                    <input type="hidden" class="form-control" name="buyerPhoneNumber" id="buyerPhoneNumber" value="8331994610"/>
                    <input type="hidden" name="currency" id="currency" value="INR" />
                    <!-- <input type="hidden" name="merchantIdentifier" id="merchantIdentifier" value="b19e8f103bce406cbd3476431b6b7973" /> -->
                    <input type="hidden" name="merchantIdentifier" id="merchantIdentifier" value="6f87f25350bd4bd39405ff4857f662d2" />
                    <input type="hidden" class="form-control" name="orderId" id="orderId" />
<tr>
  <td colspan="2" width="100%" align="center" valign="middle">
    <div style="cursor:pointer; padding-top: 25px; padding-left: 230px;">
      <a class="boxes" onclick="javascript:submitForm()">Pay Now
      </a>
    </div>
  </td>
</tr>
</table>

</form>
</div>
</div>



</body>
</html>
