<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mobikwik Payment Gateway</title>
<script type="text/javascript">
function submitForm(){
      var form = document.forms[0];
      form.submit();
    }
</script>
</head>
<body onload="javascript:submitForm()">
<center>
<table width="500px;">
  <tr>
    <td align="center" valign="middle">Do Not Refresh or Press Back <br/> Redirecting to Mobikwik Payment Gateway</td>
  </tr>
  <tr>
    <td align="center" valign="middle">
      <form action="https://zaakpaystaging.centralindia.cloudapp.azure.com:8080/api/paymentTransact/V8" method="post">
        <% for(var key in data) { %>
          <input type="hidden" name="<%=key%>" value="<%=data[key]%>" />
        <% } %>
        <input type="hidden" name="checksum" value="<%=checksum%>" />
      </form>
    </td>

  </tr>

</table>

</center>
</body>
</html>
