.card {
  display:block;
  position: relative;
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
  border-radius: 0px;
  color: #222;
  background: #fff;
  /* margin-top: 30px; */
  border: 1px solid #efefef;
      margin-bottom: 20px;
      font-weight: 500;
      padding: 10px;
    
}

.card .title {
margin-top: 0;
margin-bottom: 5px;
}

.card .card-content {
/* padding: 10px; */
}


.card .card-content1 {
padding: 0px;
}
.card .card-content .category {
margin-bottom: 0;
}
.card .card-header {
/* -webkit-box-shadow: 3px 3px 5px 6px #ccc;
-moz-box-shadow:    3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc; */
/* margin: -20px 25px 0; */
        /* padding: 4px 10px 1px 10px; */
/* background-color: #f1f1f1; */

}
.card [data-background-color="red"] {
background:#fff;
color:#222
}
.card .card-header .title {
color: #222;
font-size:24px;
font-style: normal;
font-variant: normal;
font-weight: 600;
}
.card .card-header .category {
margin-bottom: 0;
color: rgba(255, 255, 255, 0.62);
}
.card [data-background-color="purple"] {
background: linear-gradient(60deg, #ab47bc, #8e24aa);
box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card [data-background-color="blue"] {
background: linear-gradient(60deg, #26c6da, #00acc1);
box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.card [data-background-color="green"] {
background: linear-gradient(60deg, #66bb6a, #43a047);
box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card [data-background-color="orange"] {
background: linear-gradient(60deg, #ffa726, #fb8c00);
box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.card [data-background-color="pink"] {
background:#eb355c;
box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.text-xs-right{text-align: center;}

.btn-blue{
  background: #3dbded  !important;
  box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
  padding: 6px 20px;
  font-size: 20px;
  width:100%;
  margin-top: 10px;
  color:#fff;

}

.btn-blue1{
  background: #3dbded  !important;
  box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
  padding: 8px 20px;
  font-size: 14px;
  color: #fff !important;
}

.btn-blue2{
  background: #2b337d  !important;
  box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
  padding: 8px 20px;
  font-size: 14px;
  color: #fff !important;
  margin-top: 20px;
}



.about-media {
    background: #fff;
    margin-bottom: 30px;
    padding: 25px 25px 10px 25px;
	    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	box-shadow: 0 0 0.6em #ccc;
    -webkit-box-shadow: 0 0 0.6em #baccf0;
    -o-box-shadow: 0 0 0.6em #baccf0;
    -moz-box-shadow: 0 0 0.6em #baccf0;
    -ms-box-shadow: 0 0 0.6em #baccf0;
    float: left;
    width: 100%;
}

.about-media-img {

  /*margin-right: 20px;*/
  /*width:28%;*/
  padding: 0px;
  /*border: 1px solid #3b4449;*/
}
.about-media-cont {
  /*width:70%;*/
  padding-left: 30px;
}
.about-media-cont h4{
  font-size: 20px;
  color: #3b4449;
  line-height: 0px;
  margin-bottom: 30px;
}
.btn-blue23{
background: #2b337d !important;
box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
padding: 8px 20px;
font-size: 14px;
color: #fff !important;
margin-top: 20px;
}
.btn-blue22{
background: #3dbded !important;
box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
padding: 9px 8px;
font-size: 16px;
/*width:100%;*/
margin-top: 0px;
color:#fff;
font-weight: 600;
margin-bottom: 3px;

}
