/* .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
    border:0px;
}

.tab_bor-top {
    border: 1px solid #e4e4e4 !important;
}

.tab_bor-bot {
    border: 1px solid #e4e4e4 !important;
}

table.dataTable thead .sorting_asc {
    background-image:none;
} */


b, strong {
    font-weight: 700;
}

.fiL{float:left;}
.fiR{float:right;}
.txtctr{text-align:center;}
.block{display:block;}
.brdn{border-bottom:none;}
.oflow {overflow:auto}
.clr{clear:both;}
/*.dblbdr{border:solid 2px #c7c7c7; border-top:solid 3px #c7c7c7;}*/

.whtbdrtop{border-top:solid 1px white;}

.airline_list{margin-left:15px;margin-right:15px;margin-bottom:15px;border: 3px solid #ccc;
  background: #f1f1f1;overflow:auto;}
.airline_list_head{margin-left:15px;margin-right:15px;margin-bottom:15px;overflow:auto;}
.airline_head{padding:5px;overflow:auto;}
.airline_section{
      margin: 20px 0px;
  /* padding:10px 10px 5px 10px; */
  overflow:auto;
  /* border-bottom: 1px solid #c7c7c7; */
      min-height: 40px;
}
.airline_section1{margin-bottom:5px;padding:10px 10px 5px 10px;overflow:auto;}
.airlinename, .flightno {font-size: 11px;color: #385daa;}
.stop {font-size: 16px;color: #385daa;text-align: center;}
.price-section{text-align:center;float:right; padding: 7px 0px;}
.price {font-size: 20px;color: #4a7dbd;margin-bottom: 4px;}
.per_price {font-size: 11px;color: #000;margin-bottom: 4px;}
.booksection{margin:10px 0px 10px 0px;}

.price .link_open_div {font-size: 14px;font-weight:bold;}
.size10 {font-size:10px; font-weight: 600; line-height: normal; color:#777;}
.size12 {font-size: 13px;
    font-weight: 600;
    line-height: 20px; }

    .size13{font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      color: #222;}

.detailtab{overflow: auto;padding: 5px 0px 5px 0px;background-color: #f2f2f2;margin: 5px;}
.faretab{overflow: auto;padding: 5px 0px 5px 0px;background-color: #f2f2f2; color:#385daa;}
.faresubtab{overflow: auto;padding: 5px 0px 5px 0px;}

a.details_link {color: #002490; font-size:12px;}
a.details_link_selected{color: #002490; font-size:12px; text-decoration: none;color: #385daa;font-weight: bold;}
a.details_link .activeicon { display:none;}
a.details_link_selected .activeicon { display:inline-block; padding-left:5px;}

.flightimage {width: 14px;height: 18px;display: block;float: left;background: url('../../../images/b2c/tp/sprite.png') 0 0;-webkit-transition: .2s;-moz-transition: .2s; transition: .2s;}
.ratesimage {width:15px;height:18px; display:block; float:left; background: url('../../../images/b2c/tp/sprite.png') -183px 0px; -webkit-transition: .2s; -moz-transition: .2s; transition: .2s;}

.closeicon {background: url("../../../images/b2c/tp/x.png") no-repeat scroll 0 0 transparent;padding: 22px 20px 1px 5px;}

.darkblue{
color:#003366;
}

.wh5percent{width:5%;}
.wh15percent{width:15%;}
.wh25percent{width:25%;}
.wh35percent{width:35%;}
.wh45percent{width:45%;}
.wh55percent{width:55%;}
.wh65percent{width:65%;}
.wh75percent{width:75%;}
.wh85percent{width:85%;}
.wh95percent{width:95%;}

.lh6{line-height:24px;}

.flightsgrid{
	width:100%;
	background:url('../../../images/b2c/tp/bgflights.png') #000 repeat-y;
	height:240px;
}

.flightsgridmore{
width:100%;
height:30px;
background:#006699;
color:black;
text-align:center;
padding:4px 0px 0px 0px;
}

.flightsgridmore a{color:black; -webkit-transition:.3s;-moz-transition:.3s;transition:.3s;}
.flightsgridmore a:hover{color:white; text-decoration:none;}

.caroufredsel_wrapper2{-webkit-transition:.2s;-moz-transition:.2s;transition:.2s}
#flightsfoo li{-webkit-transition:.2s;-moz-transition:.2s;transition:.2s; min-width: 80px;}
#flights2foo li{-webkit-transition:.2s;-moz-transition:.2s;transition:.2s}

/*CarouFredSel*/
.flights_wrapper {
	background-color: transparent;
	width: 100%;
	height: 100%;
	/*margin: 0px auto;*/
	padding: 0px;
	float:left;
}

.flights_list_carousel {
	background-color: transparent;
	margin: 0px;
	width: 100%;
	overflow:hidden;
	position:relative;
}

.flights_list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}

.flights_list_carousel li {
	font-size: 40px;
	color: #cccccc;
	text-align: center;
	background-color: transparent;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	border-right: 1px solid rgba(255,255,255,0.2);
	height: 240px;
	padding: 0;
	margin: 0px 0px;
	display: block;
	float: left;
	line-height:10px ;
	text-align:center;

}

.flights_list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.flightsprev {
	width:20px;
	height:20px;
	float: left;
	margin-left: 20px;
	background:#006699;
	position:absolute;
	top:10px;
	left:-10px;
}

.flightsprev:hover{
	background:#72bf66;
}
a.flightsprev    img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -13px -36px; margin:1px 0 0 5px;}
a:hover.flightsprev   img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -13px -54px;}


.flightsnext {
	width:20px;
	height:20px;
	float: right;
	margin-right: 20px;
	background:#006699;
	position:absolute;
	top:10px;
	right:-11px;
}
.flightsnext:hover{
	background:#72bf66;
}
a.flightsnext    img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -6px -35px; margin:0px 0 0 8px;}
a:hover.flightsnext   img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -6px -53px;}
/*END OF CarouFredSel*/




.fconnection{
color:white;
text-align:center;
padding:10px;
border-bottom: 1px solid  rgba(255,255,255,0.2);
border-right: 1px solid  rgba(255,255,255,0.2);
}
.flights_list_carousel li img{
	/*width:70%;*/
}
.fln{ width:100%; height:90px; display:block; border-bottom: 1px solid  rgba(255,255,255,0.2);}
li.fch{height:80px!important; }

li.fch img{width:auto; cursor: pointer;}
li.fch2 img{width:100%; cursor: pointer;}


@media (min-width: 700px) {
li.fch img{width:auto; cursor: pointer;}
li.fch2 img{width:auto; cursor: pointer;}
	.ow_min_height {
		min-height: 115px;
	}
}

.ftable li{
clear:both;
width:100%;
height:40px;
padding:5px 0px;
border-right: 0px;
border-bottom: 1px solid  rgba(255,255,255,0.2);
font-size:14px;
}
.ftable li span {display:block; color:#ffffff; }
.ftable li.FlexiDateOfSearch span{ background-color:#ffffff; color:#333; }
.ftable li a{color:#ccc;}
.ftable li a:hover{color:#fff; text-decoration:none;}
.ftable li:hover {background: rgba(255,255,255,0.2);}
.ftable li.fch:hover {background: none;}
.ftable li:hover a{color:#fff;}


.ftable2 li{
clear:both;
width:100%!important;
height:50px!important;
padding:20px 0px!important;
border-left: 0px!important;
border-bottom: 1px solid  rgba(255,255,255,0.2);
font-size:18px!important;
}
li.fch2{height:90px!important; }

.ftable2 li a{color:#ccc;}
.ftable2 li a:hover{color:#fff; text-decoration:none;}
.ftable2 li:hover {background: rgba(255,255,255,0.2);}
.ftable2 li.fch2:hover {background: none;}
.ftable2 li:hover a{color:#fff;}







/*CarouFredSel*/
.flights2_wrapper {
	background-color: transparent;
	width: 50%;
	height: 100%;
	/*margin: 0px auto;*/
	padding: 0px;
	float:right;
}
.flights2_list_carousel {
	background-color: transparent;
	margin: 0px;
	width: 100%;
	overflow:hidden;
	position:relative;
}
.flights2_list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.flights2_list_carousel li {
	font-size: 40px;
	color: #cccccc;
	text-align: center;
	background-color: transparent;
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	border-left: 1px solid rgba(255,255,255,0.2);
	height: 240px;
	padding: 0;
	margin: 0px 0px;
	display: block;
	float: left;
	line-height:10px ;
	text-align:center;

}

.flights2_list_carousel.responsive {
	width: auto;
	margin-left: 0;
}
.flights2prev {
	width:20px;
	height:20px;
	float: left;
	margin-left: 20px;
	background:#006699;
	position:absolute;
	top:10px;
	left:-10px;
}

.flights2prev:hover{
	background:#72bf66;
}
a.flights2prev    img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -13px -36px; margin:1px 0 0 5px;}
a:hover.flights2prev   img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -13px -54px;}


.flights2next {
	width:20px;
	height:20px;
	float: right;
	margin-right: 20px;
	background:#006699;
	position:absolute;
	top:10px;
	right:-11px;
}
.flights2next:hover{
	background:#72bf66;
}
a.flights2next    img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -6px -35px; margin:0px 0 0 8px;}
a:hover.flights2next   img {width:8px;height:14px; display:block; background:url('../../../images/b2c/tp/sprite.png')  -6px -53px;}
/*END OF CarouFredSel*/






.filtertip2 {height:100px; background:#fff; padding:0px; color:#999999; position:relative; text-align:center; line-height:10px; font-family:'Open Sans'}
.filtertip2 a{color:#999999;}
.tip-arrow2{width:33px; height:9px; background:url('../../../images/b2c/tp/tip-arrow.png'); position:absolute; bottom:-9px; left:50%; margin-left:-15px;}




/*#####################
		FLIGHTS
#####################*/
.fblueline{
background:#006699;
padding:3px 10px 3px 10px;
color:#fff;
}
.fgreenline{
background:#72bf66;
padding:3px 10px 3px 10px;
color:#fff;
}
.frow1{
background:#f2f2f2;
min-height:110px;
color:#666;
border-left: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
}
.frowexpand{
background:#fdf8da;
color:#666;
border-left: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
}

.frow2{
background:#ffffff;
min-height:110px;
color:#666;
border-left: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
border-right: 1px solid #e8e8e8;
}
.fselect{
background:#f2f2f2;
padding:5px 7px 7px 7px;
text-align:right;
}
.table  tbody > tr > td{
border-top:0px!important;
width:20%;
}
.radiomargin0{
margin:0px;
}






/*#####################
	 Hide button
#####################*/
.hidebtn{
border:2px solid #ef9348;
padding:5px 15px 5px 15px;
color:#fff;
background:#ef9348;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}
.hidebtn:hover{
border:2px solid #ef9348;
background:#fff;
color:#ef9348;
}
.hidebtn:hover.cunvailable{
border:2px solid #ebebeb;
padding:5px 15px 5px 15px;
color:#fff;
background:#ef9348;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}




.lightbtn{
border:2px solid #ebebeb;
padding:5px 15px 5px 15px;
background:#fff;
color:#999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}
.lightbtn:hover{
border:2px solid #e2e2e2;
padding:5px 15px 5px 15px;
background:#fff;
color:#999;
}
.lightbtn:hover.cunvailable{
border:2px solid #ebebeb;
padding:5px 15px 5px 15px;
background:#fff;
color:#999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}




.selectbtn{
border:2px solid #0099cc;
padding:5px 10px 5px 10px;
background:#0099cc;
color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}
.selectbtn:hover{
border:2px solid #006699;
padding:5px 10px 5px 10px;
background:#006699;
color:#fff;
}
.selectbtn:hover.cunvailable{
border:2px solid #ebebeb;
padding:5px 15px 5px 15px;
background:#fff;
color:#999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}


.bookbtn2{
border:2px solid #ebebeb;
padding:5px 15px 5px 15px;
background:#fff;
color:#999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}
.bookbtn2:hover{
border:2px solid #72bf66;
color:#fff;
background:#72bf66;
}
.bookbtn2:hover.cunvailable{
border:2px solid #ebebeb;
padding:5px 15px 5px 15px;
background:#fff;
color:#999;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-transition:.2s;-moz-transition:.2s;transition:.2s
}








span.farrow{
width:12px;
height:5px;
display:inline-block;
background:url('../../../images/b2c/tp/arrow.png') no-repeat;
position:relative;
top:-2px;
}
span.farrow-top{
width:5px;
height:12px;
display:inline-block;
background:url('../../../images/b2c/tp/arrow-top.png') no-repeat;
}
span.farrow-btm{
width:5px;
height:12px;
display:inline-block;
background:url('../../../images/b2c/tp/arrow-btm.png') no-repeat;
}







/*###############################
	 FLIGHTS TABLE RESPONSIVE
#################################*/

ul.flightstable{
margin:0px;
padding:0px;
}
ul.flightstable li{
min-height:50px;
border:0px solid #ccc;
list-style-type: none;
margin:0px;
padding:0px;
}
ul.flightstable li.ft1{
float:none;
width:100%;
text-align:left;
padding: 0px 0px 0px 20px;
}
ul.flightstable li.ft2{
float:left;
width:33%;
padding: 0px 0px 0px 20px;
}
ul.flightstable li.ft3{
float:left;
width:33%;
}
ul.flightstable li.ft4{
float:left;
width:33%;
}
ul.flightstable li.ft5{
float:none;
width:100%;
clear:both;
text-align:right;
padding: 0px 20px 0px 0px;
}


@media (min-width: 600px) {

	ul.flightstable li.ft1{
	float:left;
	width:20%;
	text-align:center;
	padding: 0px;
	}
	ul.flightstable li.ft2{
	float:left;
	width:20%;
	padding: 0px;
	}
	ul.flightstable li.ft3{
	float:left;
	width:20%;
	}
	ul.flightstable li.ft4{
	float:left;
	width:20%;
	}
	ul.flightstable li.ft5{
	float:left;
	width:20%;
	clear:none;
	}

}
/*	 END OF FLIGHTS TABLE RESPONSIVE */









/*###############################
	 FLIGHTS PAYMENT PAGE
#################################*/

.fdash{
width:100%;
height:1px;
background:url('../../../images/b2c/tp/dash.png');
}

.fcircle{
width:39px;
height:39px;
border:2px solid #ebebeb;
background:#fff;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
position:relative;
z-index:100;
}
.fline2px{
width:100%;
height:2px;
background:#ebebeb;
display:block;
position:relative;
top:-20px;
z-index:10;
}

span.fdeparture{
width:25px;
height:21px;
background:url('../../../images/b2c/tp/departure.png') no-repeat;
display:block;
margin:6px 0px 0px 4px;
}
span.fstop{
width:25px;
height:21px;
background:url('../../../images/b2c/tp/stop.png') no-repeat;
display:block;
margin:6px 0px 0px 4px;
}
span.farrival{
width:25px;
height:21px;
background:url('../../../images/b2c/tp/arrival.png') no-repeat;
display:block;
margin:6px 0px 0px 4px;
}


span.fcaricon{
width:25px;
height:21px;
background:url('../../../images/b2c/tp/caricon.png') no-repeat;
display:block;
margin:6px 0px 0px 4px;
}
span.fhotelicon{
width:25px;
height:21px;
background:url('../../../images/b2c/tp/hotelicon.png') no-repeat;
display:block;
margin:6px 0px 0px 4px;
}



/*###############################
	 WE ARE SEARCHING
#################################*/

img.search-logo{margin-bottom:5px; width:130px;}
.blue{color:#006699;}

.login-wrap2{
width:80%;
height:450px;
background:transparent;
margin:auto auto;
position:absolute;
}
@media (min-width: 700px) {
	.login-wrap2{
	width:660px;
	height:450px;
	background:transparent;
	margin:auto auto;
	position:absolute;
	}
}

.searchingbg{
width:100%;
height:250px;
background:white;
}

ul.leftatr{
list-style-type:none;
margin:0px;
padding:0px;
float:left;
width:40%;
}
ul.leftatr li{
height:50px;
background:#006699;
border-bottom:2px solid #e7e7e7;
text-align:right;
padding-top:15px;
padding-right:20px;
text-transform:uppercase;
color:#fff;
font-weight:700;
font-size:14px;
}


ul.rightatr{
list-style-type:none;
margin:0px;
padding:0px;
float:right;
width:60%;
}
ul.rightatr li{
height:50px;
background:#fff;
border-bottom:2px solid #e7e7e7;
text-align:left;
padding-top:15px;
padding-left:20px;
text-transform:uppercase;
color:#999999;
font-weight:700;
font-size:14px;
}


/*###############################
		CARS LISTINGS
#################################*/

.carscontainer{
border:1px solid #e6e6e6;

}


span.icn-air{
width:16px;
height:15px;
background:url('../../../images/b2c/tp/icon-air.png')no-repeat;
display:inline-block;
position:relative;
top:3px;
margin-right:7px;
}
span.icn-gas{
width:16px;
height:15px;
background:url('../../../images/b2c/tp/icon-gas.png')no-repeat;
display:inline-block;
position:relative;
top:3px;
margin-right:7px;
}
span.icn-gear{
width:16px;
height:15px;
background:url('../../../images/b2c/tp/icon-gear.png')no-repeat;
display:inline-block;
position:relative;
top:3px;
margin-right:7px;
}
.purchasecontainer{
border-top:1px solid #e6e6e6;
margin-top:10px;
padding:10px 20px 10px 20px;
}


.carscontainer img{opacity:0.9; -webkit-transition:.2s;-moz-transition:.2s;transition:.2s}
.carscontainer img:hover{opacity:1;}



/*###############################
	   RENTACARS PAYMENT
#################################*/

.cposalert{
position:absolute;
bottom:28px;
width:95%;
text-align:right;
}
.alertcust{
border-radius:0px;
margin:0 auto;
border:0px;
text-align:left;
}


/*###############################
			ACTIVITIES
#################################*/
.itemlabel4{background:#FFF; width:100%; height:210px;  font-family:"Open Sans"; font-size:13px; line-height:15px; overflow:hidden; border:1px solid #e8e8e8;}








/*###############################
			CRUISES
#################################*/


.cruisedropd{
width:100%;

background:#f2f2f2;
border:1px solid #e8e8e8;

}
.crclose{
border-top:1px solid #e8e8e8;
padding:10px;
background:#fff;
margin-top:-1px;
}

ul.cruislist{
list-style-type:none;
margin:0px;
padding:0px;
width:16.6%;
float:left;

}

ul.cruislist li{
height:65px;
background:url('../../../images/b2c/tp/dash.png') repeat-x;
text-align:center;
padding:15px 0;
}

.crpos{
margin-right:5px;
float:right;
}
li.crcstm01{
text-transform:uppercase;
color:#999;
font-weight:700;
font-size:13px;
font-family:"Open Sans";
padding-top:24px!important;
}

li.crcstm02{
text-transform:uppercase;
color:#ff6633;
font-weight:600;
font-size:13px;

padding-top:24px!important;
}




span.greensquare{
width:28px;
height:28px;
background:#72bf66;
display:inline-block;
margin-right:20px;
}

span.bluesquare{
width:28px;
height:28px;
background:#6699cc;
display:inline-block;
margin-right:20px;
}

.indent-5{
text-indent:-4px;
}




/*###############################
	      NEW HOMEPAGE
#################################*/

.navbar-wrapper3{min-height:0px; background:transparent; border-bottom:0px solid #cccccc;  padding-bottom:0px;}
.mtslideb{position:relative; top:0px;}
.mtnav2{position:relative; top:0px;}
@media (min-width: 992px) {
.navbar-wrapper3{min-height:110px; background:transparent; border-bottom:0px solid #cccccc;  padding-bottom:0px;}
.mtslideb{position:relative; top:0px;}
.mtnav2{position:relative; top:30px;}
}

/*if you change the margin-top you must change it also in js-new-homepage.js*/
.cst03{background:#fff; margin-top:900px; position:relative;  z-index:100; display:block;}

.nav2 > li > a{
font-family:Lato;
font-size:14px;
font-weight:bold;
}
.nav2 > li.active > a{
}

.navlight > li > a{
color:#fff;
}
.navlight > li.active> a{
color:#fff;
}
.navdark > li > a{
color:#666!important;
}
.navdark > li.active > a{
color:#006599;
}


img.logo2 {width:108px; margin-top:-13px;}
@media (min-width: 992px) {
img.logo2 {width:108px; margin-top:-43px;}
}



.fullscreen-container2 {
	width:100% !important;
	position:relative;
	padding:0;
	height:100%!important;
}
@media (min-width: 992px) {
	.fullscreen-container2 {
		width:100% !important;
		position:relative;
		padding:0;
		height:100%!important;
	}
}


.navbar-fixed-top2{
position:fixed;
top:0;
left:0;
right:0;
z-index:1000;
}
.navbg{
background:#fff;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
}

.searchvalign{
margin-top:200px;
}

.searchcontainer{
z-index:100;
position:relative;
left:0;
right:0;
max-width:550px;
margin:  auto;
margin-top:160px;
}

.tsdow{
text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.tp-leftarrow{
display:block;
}
.tp-rightarrow{
display:block;
}


.mw400{
	max-width:400px;
}
.inph{
	height:40px;
	z-index:10000;
}
.nbtn-search {
  /*color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  */
	text-transform:uppercase;
	margin-top:-38px;
	margin-right:2px;
	height:36px;
	border: 1px solid #d75124;
	background: #e35121;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6633), to(#e35121));
	background: -webkit-linear-gradient(top, #ff6633, #e35121);
	background: -moz-linear-gradient(top, #ff6633, #e35121);
	background: -ms-linear-gradient(top, #ff6633, #e35121);
	background: -o-linear-gradient(top, #ff6633, #e35121);
	padding: 7.5px 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0,0,0,0.18) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,0.18) 0 1px 0;
	box-shadow: rgba(0,0,0,0.18) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 -1px 0;
	color:#ffffff;
	font-size: 13px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;

	font-family:"Open Sans";
	font-weight:700;

-webkit-transition:.3s;-moz-transition:.3s;transition:.3s;
}
.nbtn-search:hover{
	/*color:#be3507;*/
	color:#ffffff;
	/*text-shadow: rgba(255,255,255,.4) 0 1px 0;*/
	text-shadow: rgba(0,0,0,.4) 0 -1px 0;

	background: #ff6633;
	background: -webkit-gradient(linear, left top, left bottom, from(#e35121), to(#ff6633));
	background: -webkit-linear-gradient(top, #e35121, #ff6633);
	background: -moz-linear-gradient(top, #e35121, #ff6633);
	background: -ms-linear-gradient(top, #e35121, #ff6633);
	background: -o-linear-gradient(top, #e35121, #ff6633);


}


.lnews{
padding:50px;
text-align:center;
font-family:Lato;
font-size:24px;
color:#000;
text-transform:uppercase;
}

.right0{
right:0px;
}


.toolBarControls {
            background-color: #F9F9F9;
            border:1px solid #999999;
            color: #333333;
            display: block;
            line-height: .8em;
            padding: 0.4em 0.4em;
            position: relative;
            text-decoration: none;
            vertical-align: middle;
        }

.searchtext
{
	text-transform: uppercase;
	border: 1px solid #d75124;
	background: #e35121;
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6633), to(#e35121));
	background: -webkit-linear-gradient(top, #ff6633, #e35121);
	background: -moz-linear-gradient(top, #ff6633, #e35121);
	background: -ms-linear-gradient(top, #ff6633, #e35121);
	background: -o-linear-gradient(top, #ff6633, #e35121);
	padding: 7.5px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(0,0,0,0.18) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,0.18) 0 1px 0;
	box-shadow: rgba(0,0,0,0.18) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 -1px 0;
	color: #ffffff;
	font-size: 13px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	font-family: "Open Sans";
	font-weight: 700;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}


/* Seat map*/

.dvSeatMap{margin:20px 0px 0px 0px;}

#tblSeatMap {}
#tblSeatMap tr td{padding:5px;}
.airMatrixRow {
margin: 0;
padding: 0;
width: 100%;
}
.airMatrixRow td.airMatrixcellHead {
background: none repeat scroll 0 0 #d5e0e3;
border-bottom: 1px solid #fff;
color: #515151;
/*float: left;*/
font: 1.8em/20px "roboto", arial;
text-align: center;
min-width: 130px;
padding: 8px
}
.airMatrixRow td.airMatrixcellbox {
background: none repeat scroll 0 0 #fff;
border: 1px solid #d5e0e3;
font: 1.5em/50px "Roboto",Arial;
color: #E67E22;
margin-left: -1px;
text-align: center;
padding: 8px;
min-width: 116px;
}

.airMatrixRow td.airMatrixcellbox img {
min-width: 100px;
max-width: 100px;
}

.top-unique{padding: 10px; float: left; width: 100%; }
.top-unique .search-result-cell-new {float: left; width: 30%; margin-right: 5%; text-align: center; border: 1px solid #5dade2; border-radius: 4px;}
.top-unique .search-result-cell-new span{ color: #e67e22; margin-bottom: 10px; }
.top-unique .search-result-cell-new:hover { background: #FFF7F1; border: 1px solid #e67e22; }
.top-unique .search-result-cell-new span a, .top-unique .search-result-cell-new span a:hover{ color: #5dade2; font-size: 0.8em; text-decoration: underline; }
.top-unique>div:last-child {margin-right: 0px;}
/*.top-unique .search-result-cell-new img {width:50%;}*/

.singleResultSet:hover { border: 1px solid #4a7dbd;	box-shadow: 0 0 2px #4a7dbd;}
.singleResultSet.selected { border: 1px solid #ace4f9;
    box-shadow: 0 0 2px #b8d2dc;
    background-color: #f0f6f9;}
.smallprice {font-size: 14px;font-weight: 700;color: #4a7dbd;margin-bottom: 0px;float:right;}

.bookbtnSmall {background: none repeat scroll 0 0 #006699;border: 2px solid #006699;border-radius: 4px;color: #fff;cursor: pointer;padding: 3px 10px;transition: all 0.2s ease 0s;}
.bookbtnSmall:hover { background: none repeat scroll 0 0 #006699; border: 2px solid #006699; color: #fff; cursor: pointer; }

.current-selection {
	background-color: #d75124;
	text-transform: uppercase;
	padding: 3px 10px;
	font-family: "Open Sans";
    font-size: 13px;
    font-weight: 700;
	color: #fff;
}
#dvCurrentSelection { margin: 0px 15px 10px 15px; }
.currentselectSummary {
	background: #FFF7F1;
	border: 1px solid #e1deb3;
	font-size: 11px;
	box-shadow: 0 2px 2px #b0b0b0;
	margin: 0 auto;
}

.smallprice a:hover {
    color: #006699 !important;
}
.flightno a:hover {
    color: #006699 !important;
}

.fixHeader
{
	position:absolute;
	z-index:2;
	/*top: 82px;*/
}
.fixHeader .fareSummery { top: 102px; right: 3px; }

.changeover {
	width:86%;
	float:left;
	padding: 0 0 0 30px;
	margin:0 0 0 10px;
	background:#ffffff;
	background:url(../../../images/b2c/tp/stopover.jpg) left no-repeat;
	color:#102334;
	font:11px/24px Arial, Helvetica, sans-serif;
}
.fareSummery{ position:absolute; background:#fff; border:1px solid #ccc; width:45%; top:100px; right:100px; display:none; z-index:999;}

.small_airline_section {margin-bottom:5px;padding: 5px 5px 5px 5px;overflow: auto;}
.small_airline_list{margin-left:10px;margin-right:10px;margin-bottom:10px;border: 1px solid #c7c7c7;overflow:auto;}
.grid_small_airline_logo{padding: 6px;background: #FFF;border-radius: 20px;border-bottom-left-radius: 0PX;}
.matrix_sm {width:18%}
.matrix_md {width:82%}

@media (max-width: 600px) {
	.borderbottom {border-bottom: 1px dashed #dedede;padding:5px;}
	.airline_list {overflow:hidden !important;margin-left: 5px;margin-right: 5px;}
	.price-section {padding-top:0px;}
	.fiL-xs {float:left;}
	.padTop10-xs {padding-top:10px !important;}
	.price {font-size:12px !important;}
	.matrix_sm {width:25%}
	.matrix_md{width:75%}
	.ftable li {height:40px;}
	#flightsfoo li span {padding:5px;}
	h4 {font-size: 10px;}
	.img-height{height:50px}
	.top-unique .search-result-cell-new {height: 125px;}
}
.padL10 { padding-left: 10px !important; }
.padL20 { padding-left: 20px !important; line-height: 1.5;}

/*Flexi CSS*/
.FlexiGrid { font-size: 11px; border-collapse: collapse; border: 2px solid #003399;cursor: pointer; width: 80%; margin: 0 auto; margin-bottom: 20px;}
.FlexiGrid th, .FlexiGrid td { color: #777; text-align:center; border: 1px solid #d4d4d4; height: 55px; padding: 5px 0px; vertical-align: middle; width: 12.5%;}
.FlexiGrid th { background: #f5f5f5; font-weight: bold; }
.FlexiGrid img{ float: left; padding-left: 3px; }
.FlexiGrid a{ font-size: 14px; display: block; color: #0ebcf2; }
.FlexiGrid span{ display: inline-block; width: 100%; padding-top: 5px; color: #999;}
.FlexiGrid th.FlexiDateOfSearch, .FlexiGrid td.FlexiDateOfSearch { background: #cdcc00; color: #fff}
.FlexiGrid td.FlexiDateOfSearch a, .FlexiGrid td.FlexiDateOfSearch span {color: #fff;}
.FlexiGrid td.selectedFlight { background-color: #cdcc00; }
.MinimumFlexiPrice{background-color:#fdf8da}
.MinimumFlexiPrice a {color: #e35121;}


.bookbtn {
    border: 2px solid #006699;
    color: #fff;
    background: #006699;
}


.specifications{
      border-top: 1px solid #c7c7c7;
      margin-top: 10px;
}

.border-bot-none{border: 0px;}

.hidden-xs{line-height: 1.5}

.aboutus p{margin: 0px; line-height: 1.5;}

.per_price {
    font-size: 11px;
    margin-bottom: 4px;
}

.price {
    font-size: 22px !important;
    color: #04aeef !important;
}





.flight-filter-row{
 margin-bottom: 0px;
 padding: 10px 0px;
}
.flight-filter-row .contcent{
 text-align: center !important;
}

.flight-filter-header{
	display: flex;
	align-items: center;
	padding-bottom: 4px;
}
.flight-filter-header h3{
	font-size:16px;
	font-weight: 600;
	color: #222;
	flex-grow: 1;
	margin: 0px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 9px;
  /* padding-left: 10px; */
  margin: 0px 10px 5px 10px;
}
.flight-filter-header div{
	flex-grow: 0;
	color: #dcdbdb;
	font-size: 30px;
	font-weight: 600;
}
.flight-filter-content{
 border-top: 1px solid #dcdbdb;
 padding: 8px 0;
 font-size: 13px;
 font-weight: 500;
 color: #646464;
 }
 .flight-filter-search-content{
  padding: 0px;
  font-size: 13px;
  color: #646464;
	font-weight: 500;
  padding: 0px 10px;
}
.airline-list{
padding-top: 0px;
line-height: 32px;
}


#ex1Slider .slider-selection {
	background: #BABABA;
}

#slider-range{}
			#slider-range,#time{margin:10px;display:block;}


      .ui-widget-header {
        border: 1px solid #3dbded !important;
background: #3dbded !important;
color: #f6f6f6;
font-weight: bold;
      }

      .ui-widget-content {
    border: 1px solid #000000;
    background: #111111 url(images/ui-bg_gloss-wave_20_111111_500x100.png) 50% top repeat-x;
    color: #d9d9d9;
}

.ui-widget-content {
    border: 1px solid #2b337d;
    background: #2b337d !important;
    color: #d9d9d9;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #1a2056;
    background: #1a2056 !important;
    font-weight: bold;
    color: #ffffff;
}

.ui-widget-content {
    border: 1px solid #2b337d;
    background: #2b337d !important;
    color: #d9d9d9;
}


.filter-title{
  color: #222;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 0.5px;
}

.filter-header{
  padding: 5px 10px 5px 10px;
    background-color: #f1f1f1;
}

.flight-filter-width{width:220px;}


.btn-blue22{
  background: #3dbded  !important;
  box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  color: #fff !important;
}


.colPSE {
    display: block!important;
    border:0px;
    border-bottom: 3px solid #ccc !important;
    /* padding: 0px !important; */
    margin: 0px;
}


.whiteBac{background: #fff;}




.fa-fighter-jet{
  color: #2b337d;
    font-size: 38px;

}

.fa-calendar, .fa-clock-o {color: #e32154;    padding-top: 12px;
    padding-right: 4px;}

.datetime{color: #777;}
