
.title-large {font-size: 20px; margin: 10px 0 5px; line-height: 27px; color: #141517;}
.title-small { color: #141517; font-size: 16px; font-weight: 400; line-height: 23px; margin: 6px 0 0;}
.title-small1 {
color: #fff;
font-size: 35px;
font-weight: 800;
/* line-height: 23px; */
margin-bottom: 8px;
text-shadow: 0px 0px 9px rgba(0,0,0,0.45);

}
.title-x-small {font-size: 18px; margin: 0px;}
h2{border:0px; text-transform: none;;}
.title-large a, .title-small a, .title-x-small a{color: inherit}

.card-block{padding:0 10px 10px;}
.card-text{margin: 0}

.card-text1{
color:#fff;
font-size: 20px;
margin-bottom: 8px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8);
  font-weight: 600;
}


.banner-sec{float: left; width:100%;}
.banner-sec .news-block{margin-bottom: 20px}
.banner-sec .news-block:last-child{margin-bottom: 0px}
.banner-sec .news-des {margin-bottom: 5px;}
.banner-sec .title-large{margin: 18px 0 0}
.banner-sec .time{margin-top: 0px; font-size: 13px;}
/* .banner-sec .carousel-control.left, .banner-sec .carousel-control.right{background: none;} */
.banner-sec .card{margin-bottom:20px;}

.card-img-overlay{top:5px; position: absolute; left:0px;}

.card-img-overlay2{
bottom:0px;
position: absolute;
left:0px;
/* background: #fff; */
/* width:100% */
}

.card-body{
padding:10px 15px !important;

}
.card-body1{
padding:10px 15px !important;
position: absolute;
/* top: 0px; */
bottom: 0px;
}
.badge {
display: inline-block;
min-width: 10px;
padding: 6px 8px;
font-size: 12px;
font-weight: bold;
color: #fff;
line-height: 1;
vertical-align: middle;
white-space: nowrap;
text-align: center;
background-color: #2b337d;
border-radius: 0px;
}

.checked {
color: orange;
}
.hotelRating__popup {
position: absolute;
left: 0;
bottom: 155%;
min-height: 77px;
min-width: 350px;
background: #fff;
font-size: 14px;
color: #9C9999;
border-radius: 4px;
cursor: default;
z-index: 10;
box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
}
.hotelRating-dataCapsule {
display: inline-block;
/* background-color: #fff; */
border-radius: 2px;
font-weight: 600;
overflow: hidden;
}


.hotelRating-ratingWrapper {
display: inline-block;
position: relative;
}
.hotelRating-value-excellent {
background-color: #3d8000;
}
.hotelRating-value {
display: inline;
    padding: 2px 4px;
color: #fff;
background-color: #346000;
}
.hotelRating-subtext {
display: inline;
    padding: 2px 8px;
margin-left: -4px;
background-color: rgba(52,96,0,.13);
color: #346000;
}
.hotelRating-count {
display: inline-block;
padding: 0 8px;
font-size: 12px;
color: gray;
overflow: hidden;
}
.hotelRating-count::after {
content: '';
display: inline-block;
height: 6px;
width: 6px;
margin-bottom: 1px;
border-style: solid;
border-width: 1px 1px 0 0;
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
}


.hotelRating-subtext-excellent {
background-color: #effbc9dd;
color: #3d8000;
}
.newHotelCard-revisedPricing {
font-size: 14px;
text-decoration: line-through;
color: #141517;
display: inline-block;
margin-left: 4px;
vertical-align: middle;
}
.newHotelCard-pricing {
color: #141517;
padding:0px;
font-size: 20px;
}
.u-fw6 {
font-weight: 600;
}
.newHotelCard-discount {
display: inline-block;
padding: 0px 10px;
background: rgb(43, 51, 125);
color: #ffb121;
font-size: 10px;
margin-left: 4px;
vertical-align: middle;
border-radius: 2px;
line-height: 26px;
}
.newHotelCard-roomLeft {
background: rgba(0,0,0,.04);
color: #ee2e24;
font-size: 12px;
padding: 0px 10px;
font-weight: 600
}

.hotelcard-strip-topPick {
color: #8b572a; font-size: 12px;}



.hotelRating__popup {
position: absolute;
left: 0;
    bottom: 600%;
min-height: 77px;
min-width: 350px;
background: #fff;
font-size: 14px;
color: #9C9999;
border-radius: 4px;
cursor: default;
z-index: 10;
box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
border: 1px solid #ccc;
}
.hotelRating__popupHeader {
padding: 18px 20px 16px;
background-color: #F3F3F3;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
color: rgba(0,0,0,.87);
}
.hotelRating__popupBody {
padding: 6px 0;
min-height: 100px;
/* max-height: 226px; */
overflow-y: auto;
float: left;
    width: 100%;
}

.mdl-grid.mdl-grid--no-spacing {
padding: 0;
}
@media (min-width: 840px){
.mdl-grid {
padding: 8px;
}
}

.hotelRating__popupClose {
display: inline-block;
position: absolute;
width: 16px;
right: 5px;
top: 5px;
font-size: 20px;
line-height: .85;
text-align: center;
color: gray;
}
.hotelRating__popupHeader h3 {
font-size: 16px;
font-weight: 600;
line-height: 1.3;
margin: 0;
}
.hotelRating__popupHeader p {
font-size: 12px;
margin: 0;
}
.mdl-grid.mdl-grid--no-spacing {
padding: 0;
}
.hotelRating__ratingItem {
margin: 9px 20px;
}
.hotelRating__popup::after{content:'';position:absolute;bottom:-6px;left:10%;height:12px;width:12px;background:#fff;-webkit-transform:rotate(135deg);transform:rotate(135deg);box-shadow:6px -2px 6px -4px rgba(0,0,0,.2),2px -2px 8px -4px rgba(0,0,0,.3)}



hotelRating__ratingItem{float: left;}
.hotelRating__ratingItemName{text-align:left;font-weight:400;float: left; width:80%;}

.hotelRating__ratingItemMetric{text-align:right;font-weight:400;float: right;  width:20%;}


.carousel-control{
top:50%;
}
.carousel-control.right {
left: auto;
right: 0;
background-image:none;
background-image:none;
background-image:none;
background-image:none;
background-repeat: no-repeat;
filter: 0;
}
.carousel-control.left {

background-image:none;
background-image:none;
background-image:none;
background-image:none;
background-repeat: no-repeat;
filter: 0;
}


.searchbar-guestContainer-box {
padding: 10px 8px 10px 16px;
border: 1px solid #dfdddd;
box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);
height: 50px;
line-height: 26px;
color: #2e2d2d;
cursor: pointer;
text-align: left;
opacity: .7;
}
.searchbar-guestContainer-box:focus {
color: #3dbded;
border: 1px solid #3dbded;
box-shadow: 1px 1px 1px 0 rgba(238,46,36,.3);
opacity: 1;
background: #f9f9f9;
}

.searchbar-guestContainer-box1 {
/* padding: 6px 8px 6px 16px; */
border: 1px solid #ccc;
background: #fff;
height: 45px;
/* line-height: 26px; */
color: #2e2d2d;
cursor: pointer;
text-align: left;
box-shadow: 0px;
width:100%;
    line-height: 34px;
}
.searchbar-guestContainer-box1:focus {
color: #3dbded;
border: 1px solid #ccc;
/* box-shadow: 1px 1px 1px 0 rgba(238,46,36,.3); */
opacity: 1;
background: #f9f9f9;
background: #fff;
box-shadow: 0px;
-webkit-box-shadow:0;
box-shadow:0;
-webkit-background-clip: padding-box;
background-clip: padding-box;
}

.graytest{
font-size: 12px;
color: #9C9999;
padding: 10px 0;
}

.graytestInn{
font-size: 12px;
  color: #9C9999;
  padding: 0px 0;
}

.graytest1{
font-size: 12px;
  color: #9C9999;
  padding: 7px 0;
}

.graytest3{
  font-size: 12px;
    color: #9C9999;
    padding: 10px;
  }
  .graytest31{
    font-size: 12px;
      color: #3dbded;
      padding: 10px;
      width:400px;
      font-weight: 600;
      line-height: 20px;
    }
.more-rooms{ padding:7px 0 !important;}

.mor-rom-con{padding: 10px 20px 20px 20px;}

.more-roombod{
background: #f1f1f1;
padding: 10px;
border: 1px solid #dfdddd;
box-shadow: 1px 1px 1px 0 rgba(0,0,0,.1);
background: #fff;

}
.center{
width: 150px;
margin: 40px auto;
}


#sinolo{
width: 100%;
float: left;
background: #f1f1f1;
height: 20px;
}
#sinolo input{
width: 45%;
border: none;
text-align: center;
height: 20px;
background: #f1f1f1;
position: absolute;
}
#sinolo button{
width: 25%;
font-size: 10px;
padding: 4px;
}

#sinoloy{
width: 100%;
float: left;
background: #f1f1f1;
height: 20px;
}
#sinoloy input{
width: 45%;
border: none;
text-align: center;
height: 20px;
background: #f1f1f1;
position: absolute;
}
#sinoloy button{
width: 25%;
font-size: 10px;
padding: 4px;
}
#sinoloz{
width: 100%;
float: left;
background: #f1f1f1;
height: 20px;
}
#sinoloz input{
width: 45%;
border: none;
text-align: center;
height: 20px;
background: #f1f1f1;
position: absolute;
}
#sinoloz button{
width: 25%;
font-size: 10px;
padding: 4px;
}
.btn-blue234 {
background: #2b337d !important;
box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
padding: 6px 20px;
height: 45px;
font-size: 16px;
color: #fff !important;
margin-top: 0px;
}
.btn-blue232 {
background: #3dbded!important;
padding: 0px 0px;
height: 30px;
font-size: 12px;
font-weight: 600;
color: #fff !important;
margin-top: 10px;
width: 100%
}
.dropdown-menu {

min-width: 0px;
/* display:inline; */
}

.dropdown-optional{
margin-left: px;
top: 42px;
width: 100%;
border: 1px solid #ccc;
/* border-top: 0px; */
/* padding: 0 8px;  */
}


.dropdownlef {
/* padding: 0 8px; */
float: right;
margin-left: 10px;
}
.dropdown {
/* padding: 0 8px; */
font-size: 12px;
color: gray;
z-index: 1;
}

.btn-primary {
color: gray;
background: none;
border: 0;
font-weight: 400;
font-size: 12px;
line-height: 0px;
letter-spacing:0;
text-transform: none;
position: relative;
padding: 12px 0;
display: block;
}

.btn-primary:hover {
color: gray;
background: none;
}
.btn-primary:hover {
color:gray;
background-color:none;
border-color: none;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus
{
color: gray;
background-color:none;
border-color: none;
}


.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
color:gray  ;
background-color: #fff !important;
border-color: #fff !important;
}


.hidden {
 display:none;
}




.lastName1{
margin-top: 20px;
}


.sort__order:hover{
color:#2b2d2e
}
.sort__order{
border-right:0;
padding:0 0px;
margin:10px 0 0;
float:right;
}
.sort__order--text{
float:left;
font-size:12px;
font-weight:600;
margin-right:15px;
margin-top:6px;
}
.sort__order--content{
float:left;
}


.sort__order .filtersBar__sorter{width:auto;padding:4px 18px; }
.mdl-typography--text-uppercase{text-transform:uppercase}
.mdl-typography--text-capitalize{text-transform:capitalize}

.filtersBar__sorter{
border-top:1px solid #E3E3E3;
border-left:1px solid #E3E3E3;
border-bottom:1px solid #E3E3E3;
text-align:center;
display:inline-block;width:33.333333%;
margin-right:-4px;padding:4px 0;
cursor:pointer;
font-size:12px;
background:#fff;
}
.filtersBar__sorter:hover{
background-color:#3dbded;
color:#fff
}
.filtersBar__sorter:first-child
{
border-top-left-radius:0px;
border-bottom-left-radius:0px
}
.filtersBar__sorter:last-child
{
border-right:1px solid #E3E3E3;
border-top-right-radius:0;
border-bottom-right-radius:0
}
.filtersBar__sorterActive{
background:#3dbded;
color:#2b337d !important
}
.filtersBar__sorterActive .filtersBar__icon
{
color:#fff
}
.filtersBar__sorterActive:hover
{
background-color:#3dbded
}
.filtersBar__sorterActive .filtersBar__checkboxLabel:hover,.filtersBar__sorterActive .filtersBar__responsiveCount
{
color:#fff !important
}

.buying-selling {font-size: 12px;}



.detailsimg{
height: calc( (100vw - 550px) * 0.525);
}
@media screen and (max-width:768px) {
.detailsimg{
height: auto;
}
}

.btn-primary1 {
color: #222;
background: none;
border: 0;
font-weight: 400;
font-size: 12px;
line-height: 0px;
letter-spacing:0;
text-transform: none;
position: relative;
padding: 12px;
display: block;
float: right;
}


.btn-primary12 {
color: #fff;
background: none;
border: 0;
font-weight: 400;
font-size: 12px;
line-height: 0px;
letter-spacing:0;
text-transform: none;
position: relative;
padding: 12px;
display: block;
float: right;
text-shadow: 0 1px 1px rgba(0,0,0,0.8);
}



.column1 {
margin: 0px;
padding: 0px;
/* width: 59%; */
display: flex;
align-items: center;
line-height: 22px;
}
.column1 .HotelIcon {
margin: 0px;
padding-right: 10px;
color: #999;
font-size: 20px;
}
.column1 .cont {
font-size: 14px;
font-weight: 600;
margin: 0px;
padding: 0px;
}
.cont1 {
font-size: 14px;
font-weight: 600;
margin: 0px;
padding: 0px;
}
.SmalGrayCon {
margin: 0px;
padding: 0px;
color: #999 !important;
font-size: 13px !important;
font-weight: 600 !important;
}

.form-controlindu{
height:25px;
width: 100%;
color:#222;
font-size: 12px;
}

.controlinduprice{
height:25px;
width: 100%;
display: block;
/* color:#fff !important; */
border:1px solid #aaaaaa;
text-align: right;
padding-right: 10px;
font-size: 12px;
background: #f1f1f1;
}



.hotelRating__popup1 {
position: absolute;
left:   0px;
  bottom: -630%;
min-height: auyo;
min-width: 220px;
background: #f1f1f1;
font-size: 14px;
color: #222 !important;
border-radius: 4px;
cursor: default;
z-index: 10;
box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
}

.hotelRating__popup1::after {
content: '';
position: absolute;
top: -6px;
left: 10%;
height: 12px;
width: 12px;
background: #f1f1f1;
-webkit-transform: rotate(135deg);
transform: rotate(135deg);
/* box-shadow: 6px -2px 6px -4px rgba(0,0,0,.2), 2px -2px 8px -4px rgba(0,0,0,.3); */
}

.pricecrossbig{
font-size: 28px;
font-weight: 600;
}

.pricecrossnormalbig{
font-size: 20px;
font-weight: 600;
}
.pricecross{
text-decoration: line-through;
color: #999 !important;
font-size: 16px;
font-weight: 300;
}
.pricecrosssmall{
font-size: 14px;
font-weight: 600;
color: #222;
}
.pricecross{
text-decoration: line-through;
color: #999 !important;
font-size: 16px;
font-weight: 300;
}
.yellow-button{
background: #ff9611;
padding: 5px 10px;
color:#fff;
top: 12px;
position: absolute;
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
display: none;
}

.aminities {
float: left;
width: 100%;
}
.aminitiesul{
border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  list-style-type: none;
}
.aminitiesli{
float: left;
  /* display: block; */
margin-right: 1.7578775415%;
width: 50%;
margin: 0;
color: #2e2d2d;
line-height: 32px;
font-size: 14px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.liactive{
color: #dfdddd;
text-decoration: line-through;
}


.descriptionfont{
  font-size: 18px !important;
}

.descriptionfontul{
  font-size: 18px !important;
  font-weight: 400;
}

.descriptionfontul li{
  padding-bottom: 12px;
  line-height: 30px;
  color:#222;
}

.btn-confirmbo {
background: #3dbded !important;
box-shadow: 1px 2px 4px rgba(181, 178, 178, 0.43);
padding: 6px 20px;
font-size: 20px;
width: 100%;
color: #fff;
}

.cancelwid{
width:300px;
}

.blacCol{
color: #2b337d !important;
font-size: 16px !important;
font-weight: 600;
padding-bottom: 10px;}
.blacCol1{
color: #222 !important;
font-size: 14px !important;
padding-top: 10px;
font-weight: 600;
line-height: 24px;
}

.blacCol1 li{
padding-bottom: 8px;
}

h2{
font-size: 22px;
}
