<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="image float-left">
          <img src="Public3/images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
        </div>
        <div class="info float-left">
          <p><span id="NiharAdminName"></span></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

        <li class="active">
          <a href="/Nihardashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li class="treeview">
          <a href="">
            <i class="fa fa-files-o"></i>
            <span>eCenter</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/RechargesReports">Recharges Report</a></li>
             <li><a href="/ElectricityReports">Electricity Report</a></li>
            <li><a href="/BusBooking">Bus Booking Report</a></li>
            <li><a href="/Buscanellations">Bus Cancellation Report</a></li>
            <li><a href="/PAN-reports">PAN Card Report</a></li>
            <li><a href="/Online-rti">Online RTI Report</a></li>
            <li><a href="/DMTReports">DMT Report</a></li>
            <li><a href="/HotelBookings_Reports">Hotel Booking Report</a></li>
              <li><a href="/HotelCancellations">Hotel Cancellation Report</a></li>
            <li><a href="/FlightBookingReports">Flight Booking Report</a></li>
            <li><a href="/FlightCancellations">Flight Cancellation Report</a></li>
          </ul>
        </li>

        <li class="treeview">
           <a href="">
           <i class="fa fa-shopping-cart"></i>
           <span>eCommerce</span>
           <span class="pull-right-container">
           <i class="fa fa-angle-left pull-right"></i>
           </span>
           </a>
           <ul class="treeview-menu">
             <li><a href="/ItDukaanReports">IT Dukaan</a></li>
             <li><a href="/BanyanStoreReports">Banyan Store</a></li>
             <li><a href="/GoldenSilverReports">GoldNSilver</a></li>
           </ul>
        </li>

        <li class="treeview">
         <a href="">
            <i class="fa fa-file-video-o"></i>
            <span>eMovies</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/eMovies_modify">Movies</a></li>
            <li><a href="/eMoviesAdmin">Transactions Reports</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="">
            <i class="fa fa-files-o"></i>
            <span>Customer Care</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/NiharAgents">Business Partners</a></li>
            <li><a href="/Aggregators">Aggregator</a></li>
            <li><a href="/Transactions">Our Transactions</a></li>
            <li><a href="/inbox">Inbox</a></li>
            <li><a href="/CareReports">Reports</a></li>
            <li><a href="/RaisedTokens">Tokens</a></li>
            <li><a href="/CustomersAddress">CustomersAddress</a></li>
            <!-- <li><a href="/ServiceRequests">Service Requests</a></li> -->
          </ul>
        </li>
        <li class="treeview">
          <a href="">
            <i class="fa fa-files-o"></i>
            <span>Passbook</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/NiharAgents">PG Wallet Updates</a></li>
            <li><a href="/eWalletRequests">eWallet ( Requests ) </a></li>
            <li><a href="/eWalletVerified">eWallet ( Verified ) </a></li>
            <li><a href="/eWalletApproved">eWallet ( Approved ) </a></li>
          </ul>
        </li>

      </ul>
    </section>
  </aside>
